.form-group{
    position: relative;
    margin-top: -150px;
}

@media (max-width: 1000px){
    .form-group{
        /* position: relative; */
        margin-top: -50px;
    }
    .divPreloader{
        margin-top: 200px;
        margin-left: 200px; 
    }

}
.divPreloader{
    position: absolute;
    opacity: 0.7;
    margin-top: -200px;
    margin-left: -300px;
}